.carousel-item {
    /* padding: 20px 150px; */
    padding: 20px 100px;
    /* border: 2px solid feeae9; */
    
}
.container {
    margin-bottom: 7%; 
    /*100px*/
}
.carousel-container {
    background-color: #feeae9;
    /* border: 2px solid red; */
    border-radius: 10px;
}

.price {
    color: #FF136F;
    /* padding-top: 50px; */
}
.btn-buy {
    /* background-color: #FF136F; */
    background-image: linear-gradient( to bottom,#FF589B 0% ,#FF136F 100%);
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* .home-categories {
    display: flex;
    //justify-content: center;
} */
/* .cat0 {
    display: flex;
    align-items: center;

} */
.cat1 {
    background-color: greenyellow;
    
}
.cat-title {
    padding: 50px 20px;
}
.cat2 {
    background-color: orchid;
}
.cat3 {
    background-color: yellowgreen;
}